body {

    background-image: url("../img/fon.jpg");
}

aside {
    float: left;
    background: #07313a;
    width: 21%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 80px;
    float: left;
}

a{
    text-decoration: none;
    text-align: center;
}
a{
    display:block;
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.2);

}

aside .logo {
    font-size: 35px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 16px;
}

aside h3 {
    text-align: center;
    margin-right: -35px;
    margin-top: 70px;
    font-size: 25px;

}

aside ul {
   list-style: none;
}

aside ul li {
    display: block;
    color: white;
    margin-top: 5px;
}

main .features {
    float:left;
    margin-top: 80px;
    text-align: center;
    width: 75%;
}

main .features h1 {
    font-size: 50px;
    color: #fff;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
    color: #fff;
}


.alert {
    float: left;
    clear: both;
    width: 398px;
    margin: 20px 36%;


}

.alert h3 {
    text-align: center;

}

.alert p {
    text-align: left;
    color: #0a3622;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

